@font-face {
    font-family: "Stylus BT";
    src: url("./fonts/stylus_bt.ttf") format("truetype");
}

@font-face {
    font-family: "Stylish";
    src: url("./fonts/Stylish-Regular.ttf") format("truetype");
}

